$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower





/* Boostrap resets */
@media (min-width: 1200px){
  .container {
    width: 1170px!important;
  }
}
  
.col-centered{
    float: none;
    margin: 0 auto;
}
.img-center {margin:0 auto;}

.btn-primary{
  background:#e80000!important;
  border-color:#e80000!important;
}
a{color:#e80000!important;}

/* Main Container */
#main-container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  background:#FFF;
}




/* Custom page header */
body{
  background:#1c1e20;
}
.header {
  background:#1c1e20;
  padding:10px 0px !important;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.header h1{
  margin-top:10px;
  margin-bottom:10px;
  color:#FFF;
  font-family: 'Roboto', sans-serif;
  font-size:30px;
  font-weight:300;
  -webkit-font-smoothing: antialiased;
}
.header a{
  color:#FFF!important;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  -webkit-font-smoothing: antialiased;
}
#logo{
    position:relative;
    left: -15px;
}

.info{
  background: #f9f9f9;
  border-bottom: 1px solid #f5f5f5;
}
.info h2{
  color:#444;
  line-height:130%;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  font-size:22px;
  font-style: italic;
}
.info p{
  color:#444;
  font-size:16px;
  line-height:150%;
}

#content{
  min-height:900px;
  padding-bottom:30px;
}
/* Custom page footer */
.footer {
  margin-top:100px;
  background: #f9f9f9;
  border-top: 1px solid #f5f5f5;
  padding: 50px 0px !important;
}

.footer p{
  color:#444;
  font-size:13px;
  line-height:1.54;
}
.container-narrow > hr {
  margin: 30px 0;
}

#search{
  border: 1px solid rgb(81, 0, 255);
  color: rgb(255, 255, 255);
  background: rgba(81, 0, 255, 0.7)!important;
}

#search::-webkit-input-placeholder { color:#FFF; }
#search::-moz-placeholder { color:#FFF; } /* firefox 19+ */

.chr{
  margin-right:5px;
  width:46px;
  padding-top:20px;
  padding-left:20px;
}

.chr_active{
  margin-right:5px;
  width:47px;
  border-top:5px solid rgb(232, 0, 0);
  padding-top:20px;
  padding-left:20px;
}

.node circle {
  cursor: pointer;
  stroke-width: 2px!important;
}

.node .label {
  font-size: 12px;
  fill:#000;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
