$icon-font-path: "../fonts/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower





/* Boostrap resets */
@media (min-width: 1200px){
  .container {
    width: 1200px!important;
  }
}
  
.col-centered{
    float: none;
    margin: 0 auto;
}
.img-center {margin:0 auto;}

.btn-primary{
  background:#0b1996!important;
  border-color:#0b1996!important;
}
a{color:#0b1996!important;}

/* Main Container */
#main-container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  background:#FFF;
}




/* Custom page header */
body{
  background:#00c0e4;
}
.header {
  background:#1c1e20;
  padding:10px 0px !important;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.header h1{
  margin-top:10px;
  margin-bottom:10px;
  color:#FFF;
  font-family: 'Roboto', sans-serif;
  font-size:30px;
  font-weight:300;
  -webkit-font-smoothing: antialiased;
}
.header a{
  color:#FFF!important;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  -webkit-font-smoothing: antialiased;
}
#logo{
    position:relative;
    left: -15px;
}

.info{
  background: #f9f9f9;
  border-bottom: 1px solid #f5f5f5;
}
.info h2{
  color:#444;
  line-height:130%;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  font-size:22px;
  font-style: italic;
}
.info p{
  color:#444;
  font-size:16px;
  line-height:150%;
}

#content{
  min-height:900px;
  padding-bottom:30px;
}
/* Custom page footer */
.footer {
  margin-top:100px;
  background: #f9f9f9;
  border-top: 1px solid #f5f5f5;
  padding: 50px 0px !important;
}

.footer p{
  color:#444;
  font-size:13px;
  line-height:1.54;
}
.container-narrow > hr {
  margin: 30px 0;
}

#search{
  border: 1px solid rgb(81, 0, 255);
  color: rgb(255, 255, 255);
  background: #00c0e4 !important;
  border-radius: 20px;
}

#search::-webkit-input-placeholder { color:#FFF; }
#search::-moz-placeholder { color:#FFF; } /* firefox 19+ */

.chr , .chr_active {
  margin-right:5px;
  width:47px;
  padding-top:15px;
  padding-left:20px;
}

.chr {
  border-top: 5px solid transparent;
}

.chr_active {
  border-top:5px solid rgb(232, 0, 0);
}

.node circle {
  cursor: pointer;
  stroke-width: 2px!important;
}

.node .label {
  font-size: 12px;
  fill:#000;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}


.nvd3 text {
	font-family: "Roboto", Helvetica !important;
	fill: #222 !important;
}

text.nv-noData {
	font-family: "Roboto-Light", Helvetica !important;
	font-size: 14px !important;
}

.vertical-center {
	vertical-align: middle;
}

.suggest-container {
	position:absolute;
	z-index:1;
	padding: 0.5em;
	color: rgb(255, 255, 255);
	background: #00c0e4 !important;
	border-radius: 20px;
	
	/* This is for the different browsers */
	width:100%;
	width: -moz-available;
	width: -webkit-fill-available;
	
	max-height: 10em;
	overflow: auto;
}
.suggest-container::-webkit-input-placeholder { color:#FFF; }
.suggest-container::-moz-placeholder { color:#FFF; } /* firefox 19+ */

div.suggest-container:empty {
	display: none;
}

.suggest-item {
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

.terms-selector {
	font-size: 10px;
	border-style: solid;
	border-width: 1px;
	border-radius: 1em;
}

span.circle , span.square {
	border-style: solid;
	border-width: 1px;
	width: 1em;
	height: 1em; 
	line-height: 1em;
	display: inline-block;
	/* vertical-align: -10%; */
	margin-right: 0.25em;
	/* width and height can be anything, as long as they're equal */
}

tr.termItem {
	vertical-align: top;
}

tr.termItem.pointer , i.glyphicon {
	cursor: pointer;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
	
span.circle {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
}

.term {
	line-height: 1em;
	padding-bottom: 0.5em;
}

.datachart {
	height: 300px;
	width: 100%;
}