<h1 class="help">Tutorial: doing a search</h1>
<h2 class="help">This tutorial illustrates the analysis of FPR1 using the BLUEPRINT Data Analysis Portal.</h2>
<div class="help">
	<div class="info row img-center" style="width:80%;">
		<div class="col-sm-4">
			<h3>1) We start by introducing the gene symbol “FPR1” in the search box (Figure 1A) and in this case we selected 500 bp in the flanking window size box (Figure 1B).
			</h3>
		</div>
		<div class="col-sm-8" style="padding:2em;">
			<div class="img-center">
				Figure 1<br>
				<img style="max-width:100%;" src="images/tutorial/figure1.png">
			</diV>
		</div>
	</div>
</div>
<div class="help">
	<div class="info row img-center" style="width:80%;">
		<div class="col-sm-4">
			<h3>2) In the second step, we selected the neutrophil terms based in the cell ontology hierarchy: neutrophilic myelocyte; neutrophilic metamyelocyte; band form neutrophil; segmented neutrophil of bone marrow; and mature neutrophil (Figure 2)
			</h3>
		</div>
		<div class="col-sm-8" style="padding:2em;">
			<div class="img-center">
				Figure 2<br>
				<img style="max-width:100%;" src="images/tutorial/figure2.png">
			</div>
		</div>
	</div>
</div>
<div class="help">
	<div class="info row img-center" style="width:80%;">
		<div class="col-sm-4">
			<h3>3) In the third step, we selected the gene and transcript expression charts (from RNA-Seq) and all the histone peaks (from ChIP-Seq experiments) to explore the FPR1 data along the neutrophil differentiation lineage (Figure 3).
			</h3>
		</div>
		<div class="col-sm-8" style="padding:2em;">
			<div class="img-center">
				Figure 3<br>
				<img style="max-width:100%;" src="images/tutorial/figure3.png">
			</div>
		</div>
	</div>
</div>
<h2 class="help">The Results</h2>
<div class="help">
	<div class="info row img-center" style="width:80%;">
		<div class="col-sm-4">
			<h3>BDAP displays the data for FPR1, and their paralogs FPR2 and FPR3, such as the FPR1 gene overlap completely or in part with the other genes. The gene expression box-plot shows a clear increase of the expression level along the neutrophil differentiation lineage from the neutrophilic myelocyte to the mature neutrophil for FPR1 and more modest for FPR2 (Figure 4A). The cell types with the highest expression were the segmented neutrophils of bone marrow and the mature neutrophils (Figure 4A). RNA-Seq data is represented in box-plots by the expression value (Fragments Per Kilobase Million; BP-FPKM, 2015) for the whole gene or each transcript.</h3>
			<h3>ChIP-Seq data reveals active histone modifications positioning in the start codon and transcribed regions of FPR1 and FPR2 in the cell types with the highest expression levels (Figure 4B,D-F). The plots for ChIP-Seq, DNaseI-Seq and Methylation data are segment-based scatter plots that represent genomic coordinates in x-axis and the averaged -log10(p-value) for the ChIP-Seq experiments, averaged z-values from DNA-Seq or averaged methylation levels (WGBS) in the y-axis.
			</h3>
		</div>
		<div class="col-sm-8" style="padding:2em;">
			<div class="img-center">
				Figure 4<br>
				<img style="max-width:100%;" src="images/tutorial/figure4.png">
			</div>
		</div>
	</div>
</div>
<div class="help">
	<div class="info row img-center" style="width:80%;">
		<div class="col-sm-4">
			<h3>In addition, you have different buttons to interact with the plot. You can hide a plot (Figure 5A), check the data entries (Figure 5B), see the cell types legend (Figure 5C) or download the plot or the data in different formats (Figure 5D).
			</h3>
		</div>
		<div class="col-sm-8" style="padding:2em;">
			<div class="img-center">
				Figure 5<br>
				<img style="max-width:100%;" src="images/tutorial/figure5.png">
			</div>
		</div>
	</div>
</div>
