<script type="text/ng-template" id="suggestionTemplate.html">
	<span>
		<i>({{match.label.feature}})</i> <a style="cursor:pointer">{{match.label.fullTerm}}</a>
	</span>
</script>

<script type="text/ng-template" id="suggestionPopupTemplate.html">
	<div class="suggest-container dropdown-menu"
		ng-style="{top: position().top+'px', left: position().left+'px'}"
		style="display: block;"
		ng-show="isOpen() && !moveInProgress"
		aria-hidden="{{!isOpen()}}">
		<div class="suggest-item" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
				ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
				<span uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></span>
		</div>
	</div>
</script>

<script type="text/ng-template" id="messages.html">
	<div class="modal-header">
		<h3 class="modal-title" ng-bind="modalState">{{modalState}}</h3>
	</div>
	<div class="modal-body" ng-bind="modalMessage">{{modalMessage}}</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="okModal()">Ok</button>
		<!--
		<button class="btn btn-warning" type="button" ng-click="cancelModal()">Cancel</button>
		-->
	</div>
</script>

<script type="text/ng-template" id="datagrid.html">
	<div class="modal-header">
		<h3 class="modal-title">{{modalDataGrid.title}} (showing only first {{modalDataGrid.limit}} entries)</h3>
	</div>
	<div class="modal-body bp-data-grid">
		<!--
		<table st-table="modalDataGrid.table" class="table table-striped bp-data-grid">
		-->
		<table class="table table-striped bp-data-grid">
			<thead>
				<tr>
					<th ng-repeat="columnName in modalDataGrid.columns">{{columnName}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in modalDataGrid.table | limitTo:modalDataGrid.limit track by $index">
					<td ng-repeat="cell in row track by $index" ng-bind-html="cellFormatter(cell)"></td>
				</tr>
			</tbody>
			<!--
			<tfoot>
				<tr>
					<td colspan="{{modalDataGrid.columns.length}}">
						<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
					</td>
				</tr>
			</tfoot>
			-->
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" type="button" ng-csv="modalDataGrid.table" csv-header="modalDataGrid.columns" field-separator="\t" filename="BP-DataPortal_{{modalDataGrid.title}}.csv">Export all entries as TSV <i class="glyphicon glyphicon-save"></i></button>
		<button class="btn btn-primary" type="button" ng-click="okModal()">Close</button>
		<!--
		<button class="btn btn-warning" type="button" ng-click="cancelModal()">Cancel</button>
		-->
	</div>
</script>

<script type="text/ng-template" id="template/tabs/tab.html">
	<li ng-class="{active: active, disabled: disabled}">
		<a ng-click="select()" uib-tab-heading-transclude>{{heading}}</a>
	</li>
</script>

<script type="text/ng-template" id="tooltip/term.html">
	<span><b>Click</b>: switches term&apos;s results<br /><b>Ctrl+Click</b>: focus on term&apos;s results</span>
</script>

<script type="text/ng-template" id="tooltip/closeTab.html">
	<span><b>Click</b>: close this tab<br /><b>Shift+Click</b>: close this tab and modify the query</span>
</script>

<script type="text/ng-template" id="tooltip/chartSwitch.html">
	<span><b>Click</b>: switches chart visibility<br /><b>Ctrl+Click</b>: hide all charts but this<br /><b>Shift+Click</b>: Switch mean series from chart</span>
</script>

<div class="row info" style="padding-top:20px;padding-bottom:20px;">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 text-center vertical-center" style="max-width: 350px;">
		<div class="row">
			<nvd3 ng-if="subtotals.library==='nvd3'" options="subtotals.options" data="subtotals.data"></nvd3>
			<highchart class="datachart" ng-if="subtotals.library==='highcharts'" config="subtotals.options"></highchart>
		</div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-8">
                <h2>Explore the behaviour of your candidate genes, pathways or genome regions across the Blueprint datasets.</h2>
                <p>The Blueprint project is providing in this release epigenomic analysis from {{numSamples}} samples to the scientific community. Their associated epigenomes are characterized by: gene and transcript expression (from RNA-Seq experiments), hyper and hypo methylated regions (derived from WGBS experiments), chromatin accessibility (DNAse-Seq), and {{numHistones}} Histone marks binding activity (ChIP-Seq)</p>
                <p>Use this tool to explore the behaviour of your genes and pathways in the BLUEPRINT analysis for {{termNodes.length}} cellular types and cellular lines</p>
                <p style="line-height:1.2em">
			<b>{{projectName}} software release - {{swVersion}}</b>
			<br />
			<a tooltip-placement="right" uib-tooltip="{{getDataDesc()}}"><b>Data release - {{dataRelease}}</b></a>
			<br />
			EnsEMBL version: <b><a href="http://{{ensemblArchive}}.archive.ensembl.org/" target="_blank">{{ensemblVer}}</a></b>
			<br />
			GENCODE version: <b><a href="http://www.gencodegenes.org/releases/{{gencodeVer}}.html" target="_blank">{{gencodeVer}}</a></b>
			<br />
			REACTOME version: <b><a href="http://www.reactome.org/" target="_blank">{{reactomeVer}}</a></b>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 text-center vertical-center" style="max-width: 350px;">
		<div class="row">
			<nvd3 ng-if="analysisSubtotals.library==='nvd3'" options="analysisSubtotals.options" data="analysisSubtotals.data"></nvd3>
			<highchart class="datachart" ng-if="analysisSubtotals.library==='highcharts'" config="analysisSubtotals.options"></highchart>
		</div>
            </div>
</div>

  <div class="row">
    <div class="col-sm-12">
      <form class="form-horizontal" role="form">
        <div class="form-group form-group-lg">
	<div class="col-sm-3 text-center">
		<label>Flanking window size (bp)
			<input style="font-weight:normal;" type="number" name="flankingWindow" ng-model="flankingWindowSize" ng-disabled="queryInProgress" min="0" required>
		</label>
	</div>
          <div class="col-sm-6">
		<input id="search" type="text" ng-model="query" ng-keypress="enterSearch($event)" ng-disabled="queryInProgress" placeholder="Step 1: Search by gene name, Ensembl gene Id, chromosome region or Reactome pathway id" uib-typeahead="suggest for suggest in suggestSearch($viewValue)" typeadhead-loading="loadingSuggestions" typeahead-no-results="noSuggestion" typeahead-popup-template-url="suggestionPopupTemplate.html" typeahead-min-length="3" typeahead-on-select="query=label.term;search($label)" typeahead-template-url="suggestionTemplate.html" class="form-control" style="background:#f5f5f5">
		<i ng-show="loadingSuggestions" class="glyphicon glyphicon-refresh"></i>
		<div ng-show="noSuggestion">
			<i class="glyphicon glyphicon-remove"></i> No Suggestions Found
		</div>
            <!-- <p class="small">Chromosome regions should be shorter than 10Kb</p> -->
	    <p class="text-center">Examples: <a ng-click="query='myc'; search()" style="cursor: pointer;">Myc</a>, <a ng-click="query='TET1'; search()" style="cursor: pointer;">TET1</a>, <a ng-click="query='IRF8'; search()" style="cursor: pointer;">IRF8</a>, <a ng-click="query='NFIB'; search()" style="cursor: pointer;">NFIB</a>, <a ng-click="query='chr1:208856422-208956421'; search()" style="cursor: pointer;">chr1:208856422-208956421</a>, <a ng-click="query='REACT_160159.2'; search()" style="cursor: pointer;">REACT_160159.2</a>, <a ng-click="query='pathway:Cell Cycle, Mitotic'; search()" style="cursor: pointer;">Pathway <i>Cell Cycle, Mitotic</i></a></p>
          </div>
          <div class="col-sm-3 text-center"><button ng-click="search()" ng-disabled="queryInProgress" type="button" class="btn btn-primary btn-bp btn-lg" ng-bind-html="searchButtonText">Search</button></div>
        </div>
      </form>
    </div>
  </div> 

<!--
<p class="text-center" style="margin-bottom:40px;" ng-bind-html="found"></p>
-->
<uib-tabset id="resultTabs" ng-if="graphData.length &gt; 0">
	<uib-tab ng-repeat="rangeData in graphData" select="doSelectTab(rangeData)">
		<uib-tab-heading>{{rangeData.heading}}&nbsp;<i ng-class="{'glyphicon': rangeData.fetchState === 'fetch_initial' || rangeData.state==='selectCellTypes','glyphicon-filter': rangeData.state==='selectCellTypes','glyphicon-download': rangeData.state!=='selectCellTypes' && rangeData.fetchState === 'fetch_initial', 'glyphicon-hourglass': rangeData.fetchState === 'fetching', 'blink': rangeData.fetchState === 'fetching'}"></i><i class="hover_red" ng-class="{'glyphicon': rangeData.fetchState === 'fetch_end','glyphicon-remove-sign': rangeData.fetchState === 'fetch_end' && graphData.length > 1}" ng-click="removeTabResult($event,$index);" uib-tooltip-template="'tooltip/closeTab.html'" tooltip-placement="bottom" tooltip-append-to-body></i></uib-tab-heading>
		
		<!-- Types of analysis -->
		<div class="no-margin-padding">
			<div class="text-center">
				 <p ng-bind-html="rangeData.queryFound"></p>
				 <p>
					 <span ng-bind-html="rangeData.found"></span>
					 <br>
					 <span ng-show="rangeData.ui.numCellTypesInRange!==undefined">Found {{rangeData.ui.numCellTypesInRange}} cellular types, involved in {{rangeData.ui.numAnalysesInRange}} analysis products <i class="glyphicon glyphicon-list-alt" uib-tooltip="Click to see the table of related metadata" ng-click="viewDataGrid(rangeData.ui.metaDataGrid)" tooltip-popup-delay="500" tooltip-placement="top"></i></span>
				 </p>
				
				<uib-progressbar class="progress-striped active initial-progressbar" animate="true" value="100" type="{{rangeData.fetchState==='no_data'?'warning':'info'}}" ng-show="rangeData.state==='initial' || rangeData.fetchState==='no_data'"><span>Fetching gene layout and stats</span></uib-progressbar>
			</div>

			
			<!-- Selection tree -->
			<div class="row" style="clear:both;" ng-show="rangeData.state==='selectCellTypes'">
				<h3 class="text-center">Step 2: Found {{rangeData.ui.numCellTypesInRange}} cellular types which are involved on {{rangeData.ui.numAnalysesInRange}} analysis products in this range</h3>
				<h4 class="text-center">Please, select below the cellular types you are interested in, and press <button class="btn btn-primary" type="button" ng-click="selectVisibleCellTypes(rangeData)">Continue</button></h4>
				<div class="col-sm-1 text-center">
					<div style="margin-bottom:1em">
						<button class="btn btn-primary" type="button" ng-click="deselectAllVisibleCellTypes(rangeData)" uib-tooltip="Unselect all the cellular types">Clear!</button>
					</div>
					<img ng-src="{{rangeData.ui.gChro.f}}" class="img-responsive img-center vertical-center" title="Chromosome {{rangeData.ui.gChro.n}}">
				</div>
				<div class="col-sm-11">
						<treecontrol style="margin-bottom:1em" ng-repeat="ontology in rangeData.treedata" class="col-sm-6 tree-light" tree-model="ontology.root" selected-nodes="ontology.selectedNodes" expanded-nodes="ontology.expandedNodes" on-selection="onTreeSelection(ontology,node,selected,$event)" options="commonTreeControlOptions">
						<span ng-class="{circle: node.color!==undefined,'rounded-square': node.color===undefined}" ng-style="{'border-color': node.wasSeen ? node.color : 'gray', 'background-color': node.wasSeen ? node.color : 'white'}"></span><span ng-style="{color: node.wasSeen ? 'black' : 'initial','font-style': node.color===undefined ? 'italic': 'initial'}">{{node.name}} <i class="glyphicon glyphicon-eye-open" ng-show="node.samplesInRangeHtml!==undefined" onclick="event.stopPropagation()" popover-append-to-body="true" popover-title="Samples: {{node.samplesInRange.length}}" popover-placement="right" uib-popover-html="node.samplesInRangeHtml" uib-tooltip="Click to see the sample names from this cellular type in this range" tooltip-placement="left" tooltip-append-to-body="true"></i> (<a href="{{node.o_uri}}" target="_blank" onclick="event.stopPropagation()">{{node.o}}</a>)</span>
					</treecontrol>
				</div>
				<h4 class="text-center">Please, select above the cellular types you are interested in, and press <button class="btn btn-primary" type="button" ng-click="selectVisibleCellTypes(rangeData)">Continue</button></h4>
			</div>
			
			<!-- Chart selection tree -->
			<div class="row" style="clear:both;" ng-show="rangeData.state==='selectCharts'">
				<h3 class="text-center">Step 3: There are {{rangeData.ui.numChartsForSelectedCellTypes}} general charts available for the {{rangeData.ui.numSelectedCellTypes}} cellular types in this range</h3>
				<div class="initial-charts">
					<div class="pointer" ng-repeat="chart in rangeData.ui.chartsForSelectedCellTypes" ng-click="uiFuncs.switchChart($event,chart,rangeData)">
						<span class="glyphicon" ng-class="{'glyphicon-unchecked': chart.isHidden,'glyphicon-check': !chart.isHidden}" ng-style="{'color': chart.isHidden ? 'initial' : 'green'}"></span>
						<span class="term" ng-style="{color: chart.isHidden ? 'gray': 'initial'}">{{chart.subtitle!==null ? chart.title + ' '+ chart.subtitle : chart.title}}</span>
					</div>
					<br />
					<div><label style="font-weight:normal;"><input type="checkbox" ng-model="rangeData.ui.initiallyShowMeanSeries">Initially show mean series of range data</label></div>
					<div class="form-group">
						<label>Stats Tree</label>
						<label style="font-weight:normal;">
							<input type="radio" ng-model="rangeData.ui.treeDisplay" value="compact"> Compact
						</label>
						<label style="font-weight:normal;">
							<input type="radio" ng-model="rangeData.ui.treeDisplay" value="detailed"> Detailed
						</label>
						<label style="font-weight:normal;">
							<input type="radio" ng-model="rangeData.ui.treeDisplay" value="none"> Hide
						</label>
					</div>
				</div>
				<h4 class="text-center">Please, (de)select the initial charts you are interested in, and press <button class="btn btn-primary" type="button" ng-click="selectVisibleCharts(rangeData)">Go!</button></h4>
			</div>
		</div>

		<div class="no-margin-padding" style="margin-bottom:1em" ng-show="rangeData.fetchState === 'fetching' || rangeData.fetchState === 'fetch_error'">
			<uib-progressbar class="initial-progressbar" value="rangeData.numFetchEntries" max="rangeData.numFetchTotal" type="{{rangeData.fetchState === 'fetching' ? 'info':'error'}}"><span>Fetching &amp; Plotting data</span></uib-progressbar>
		</div>

		<div class="no-margin-padding text-center" ng-show="rangeData.state==='showData' || rangeData.state==='end'">
			<div class="btn-group">
				<label class="btn btn-default" ng-repeat="view in uiFuncs.EXPORTED_VIEWS" ng-model="rangeData.viewClass" uib-btn-radio="view.viewClass" ng-disabled="rangeData.fetchState === 'fetch_initial' || rangeData.fetchState === 'fetching'" ng-click="uiFuncs.redrawCharts(rangeData)">{{view.viewDesc}}</label>
			</div>
		</div>
		
		<div class="no-margin-padding" style="margin-top: 1em;" ng-show="rangeData.state==='showData' || rangeData.state==='end'">
			<!--
				Generic
			-->
			<div class="no-margin-padding" ng-repeat="view in uiFuncs.EXPORTED_VIEWS" ng-show="view.viewClass===rangeData.viewClass">
				<!-- Single button for Tissues -->
				<div class="no-margin-padding text-center" style="margin-bottom: 0.5em;" ng-if="view.viewClass==='Tissues'">
					<div class="btn-group" uib-dropdown uib-keyboard-nav is-open="rangeData.ui.tissueButtonIsOpen">
						<button id="tissue-button" type="button" class="btn btn-default selector-button" uib-dropdown-toggle ng-disabled="rangeData.fetchState === 'fetch_initial' || rangeData.fetchState === 'fetching'">
							Tissue: <span class="circle" ng-style="{'border-color': rangeData.ui.tissueSelected.color, 'background-color': rangeData.ui.tissueSelected.color }"></span>{{rangeData.ui.tissueSelected.name}} <span class="caret"></span>
						</button>
						<ul uib-dropdown-menu class="celltype-menu" aria-labelledby="tissue-button">
							<li role="menuitem" class="pointer" ng-class="{'celltype-chosen': rangeData.ui.tissueButtonSelected === $index}" ng-repeat="tissueNode in uiFuncs.getGroupBySeriesNodes(rangeData,view.viewClass)"><a ng-click="uiFuncs.selectGroup(rangeData,$index);"><span class="circle" ng-style="{'border-color': tissueNode.color, 'background-color': tissueNode.color }"></span>{{tissueNode.name}}</a></li>
							<!--
							<li class="divider"></li>
							<li role="menuitem"><a href="#">Separated link</a></li>
							-->
						</ul>
					</div>
				</div>
				<!-- Single button for Diseases -->
				<div class="no-margin-padding text-center" style="margin-bottom: 0.5em;" ng-if="view.viewClass === 'Diseases'">
					<div class="btn-group" uib-dropdown uib-keyboard-nav is-open="rangeData.ui.celltypeButtonIsOpen">
						<button id="celltype-button" type="button" class="btn btn-default selector-button" uib-dropdown-toggle ng-disabled="rangeData.fetchState === 'fetch_initial' || rangeData.fetchState === 'fetching'">
							Cellular type: <span class="circle" ng-style="{'border-color': rangeData.ui.celltypeSelected.color, 'background-color': rangeData.ui.celltypeSelected.color }"></span>{{rangeData.ui.celltypeSelected.name}} <span class="caret"></span>
						</button>
						<ul uib-dropdown-menu class="celltype-menu" aria-labelledby="celltype-button">
							<li role="menuitem" class="pointer" ng-class="{'celltype-chosen': rangeData.ui.celltypeButtonSelected === $index}" ng-repeat="termNode in uiFuncs.getGroupBySeriesNodes(rangeData,view.viewClass)" ng-if="termNode.wasSeen"><a ng-click="uiFuncs.selectGroup(rangeData,$index);"><span class="circle" ng-style="{'border-color': termNode.color, 'background-color': termNode.color }"></span>{{termNode.name}}</a></li>
							<!--
							<li class="divider"></li>
							<li role="menuitem"><a href="#">Separated link</a></li>
							-->
						</ul>
					</div>
				</div>
				<!-- This trick allows reflowing the charts which were drawn in background -->
				{{doReflow()}}
				<uib-accordion class="col-xs-12 col-sm-2 col-lg-1" close-others="false">
					<uib-accordion-group heading="&#x25BC; Showing {{uiFuncs.getVisibleChartsCount(rangeData,view.viewClass)}} of {{uiFuncs.getChartsWithDataCount(rangeData,view.viewClass)}} charts" panel-class="panel-info" class="row terms-selector">
						<div class="col-xs-1 col-sm-12 termItem pointer" ng-click="uiFuncs.hideAllCharts($event,rangeData)">
							<span class="square" style="border-color: #202020 ; background-color: white;"></span>
							<span class="term">Hide all charts / mean series</span>
						</div>
						<div class="col-xs-1 col-sm-12 termItem pointer" ng-click="uiFuncs.showAllCharts($event,rangeData)">
							<span class="square" style="border-color: #202020 ; background-color: #202020;"></span>
							<span class="term">Show all charts / mean series</span>
						</div>
						<div class="col-xs-1 col-sm-12">&nbsp;</div>
						<div class="col-xs-1 col-sm-12 termItem pointer" ng-repeat="chart in rangeData.ui.chartViews[view.viewClass].charts" ng-click="uiFuncs.switchChart($event,chart,rangeData)" ng-hide="chart.isEmpty" uib-tooltip-template="'tooltip/chartSwitch.html'" tooltip-append-to-body="true">
							<span class="square" ng-style="{'border-color': chart.bpSideData.meanSeries.color, 'background-color': chart.isHidden ? 'white' : (chart.meanSeriesHidden ? '#E0E0E0': chart.bpSideData.meanSeries.color) }"></span>
							<span class="term" ng-style="{color: chart.isHidden ? 'gray': 'initial'}">{{chart.title}}</span>
						</div>
					</uib-accordion-group>
					<uib-accordion-group is-open="true" heading="&#x25BC; {{uiFuncs.getLegendTitle(view.viewClass)}}: {{uiFuncs.getVisibleSeriesCount(rangeData,view.viewClass)}} of {{uiFuncs.getSeenSeriesCount(rangeData,view.viewClass)}} for this range and view" panel-class="panel-info" class="row terms-selector">
						<div class="col-xs-1 col-sm-12 termItem pointer" ng-click="uiFuncs.hideAllSeries(rangeData,view.viewClass)">
							<span class="circle" style="border-color: #202020 ; background-color: white;"></span>
							<span class="term">Hide all {{uiFuncs.getLegendTitle(view.viewClass)}}</span>
						</div>
						<div class="col-xs-1 col-sm-12 termItem pointer" ng-click="uiFuncs.showAllSeries(rangeData,view.viewClass)">
							<span class="circle" style="border-color: #202020 ; background-color: #202020;"></span>
							<span class="term">Show all {{uiFuncs.getLegendTitle(view.viewClass)}}</span>
						</div>
						<div class="col-xs-1 col-sm-12">&nbsp;</div>
						<div class="col-xs-1 col-sm-12 termItem pointer" ng-repeat="termNode in rangeData.ui.chartViews[view.viewClass].termNodes" ng-click="uiFuncs.switchSeriesNode($event,termNode,rangeData,view.viewClass)" ng-if="termNode.wasSeen" uib-tooltip-template="'tooltip/term.html'" tooltip-append-to-body="true" tooltip-popup-delay="500">
							<span class="circle" ng-style="{'border-color': termNode.color, 'background-color': termNode.termHidden ? 'white' : termNode.color }"></span>
							<span class="term" ng-style="{color: termNode.termHidden ? 'gray' : 'initial'}">{{termNode.name}}</span>
							<i class="glyphicon glyphicon-eye-open" ng-show="termNode.samplesInRangeHtml!==undefined" onclick="event.stopPropagation()" popover-append-to-body="true" popover-title="Samples: {{termNode.samplesInRange.length}}" popover-placement="right" uib-popover-html="termNode.samplesInRangeHtml" uib-tooltip="Click to see the sample names which contributed to this data series" tooltip-placement="bottom" tooltip-append-to-body="true"></i>
						</div>
					</uib-accordion-group>
				</uib-accordion>
				
				<div class="col-xs-12 col-sm-10 col-lg-11 text-center vertical-center">
					<div class="row" style="width:100%">
						<div class="panel-info" ng-class="{'zoomed': chart.isZoomed,'unzoomed': !chart.isZoomed, 'col-md-12':!chart.isZoomed, 'col-lg-6': !chart.isZoomed}" ng-repeat="chart in rangeData.ui.chartViews[view.viewClass].charts" ng-hide="chart.isEmpty || chart.isHidden">
							<div style="float:left;clear:left;">
								Chart features: 
								<span ng-class="{'square': feature.type !== 'plotline', 'thick-line': feature.type === 'plotline'}" ng-style="{'background-color': feature.color}" ng-repeat-start="(featureName,feature) in uiFuncs.DRAWABLE_REGION_FEATURES"></span>
								<span style="margin-right: 1em;" ng-repeat-end>{{featureName}}</span>
								<span style="margin-right: 1em;"><b>&#x2013; &#x2013;</b> gene start</span>
								<span style="margin-right: 1em;"><b>· &#x2013; ·</b> gene end</span>
							</div>
							<div style="float:right;clear:right;">
								<!-- Hide chart button -->
								<i class="glyphicon glyphicon-eye-close space-glyphicon" ng-click="uiFuncs.switchChart($event,chart,rangeData)" uib-tooltip="Hide chart (can be re-enabled using charts pane)" tooltip-popup-delay="500" tooltip-append-to-body="true" tooltip-placement="top"></i>
								<!-- Switch mean series -->
								<!-- Functional, but unfancy
								<i class="glyphicon glyphicon-indent-right" ng-style="{'color': chart.meanSeriesHidden ? 'gray' : 'initial'}"ng-click="uiFuncs.switchMeanSeries(chart,true,rangeData.localScope)" uib-tooltip="Hide/show mean series" tooltip-popup-delay="500" tooltip-popup-close-delay="500" tooltip-append-to-body="true" tooltip-placement="top"></i>
								-->
								<!-- Visible, but not yet functional -->
								<i class="glyphicon glyphicon-list-alt" ng-click="viewChartDataGrid(view.viewClass,rangeData,chart)" tooltip-popup-delay="500" uib-tooltip="Inspect the data" tooltip-append-to-body="true" tooltip-placement="top"></i>
								<i class="glyphicon glyphicon-list" ng-click="uiFuncs.switchLegend(chart)" tooltip-popup-delay="500" uib-tooltip="Show / hide legend" tooltip-append-to-body="true" tooltip-placement="top"></i>
								<!-- Zoom button -->
								<i class="glyphicon" ng-class="{'glyphicon-resize-full': !chart.isZoomed, 'glyphicon-resize-small': chart.isZoomed}" ng-click="chart.isZoomed = !chart.isZoomed;" uib-tooltip="Maximize / Restore" tooltip-append-to-body="true" tooltip-placement="left" tooltip-popup-delay="500"></i>
							</div>
							<nvd3 class="datachart" ng-if="chart.library==='nvd3'" options="chart.options" data="chart.data"></nvd3>
							<canvasjs class="datachart" ng-if="chart.library==='canvasjs'" config="chart.options"></canvasjs>
							<chartjs class="datachart" ng-if="chart.library==='chartjs'" config="chart.options"></chartjs>
							<highchart class="datachart" ng-if="chart.library==='highcharts'" config="chart.options"></highchart>
						</div>
					</div>
					
					<!-- panel concept
					<div class="panel panel-default" ng-repeat="chart in uiFuncs.getCharts(rangeData,view.viewClass)">
						<div class="panel-heading">
							<h5 class="panel-title">
								<a ng-click="chart.isClosed = !chart.isClosed"><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': !chart.isClosed, 'glyphicon-chevron-right': chart.isClosed}"></i><span ng-show="chart.isClosed">{{chart.title}}</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !chart.isClosed, 'glyphicon-chevron-left': chart.isClosed}"></i></a>
							</h5>
						</div>
						<div collapse="chart.isClosed">
							<div class="panel-body">
								<nvd3 class="datachart" ng-if="chart.library==='nvd3'" options="chart.options" data="chart.data"></nvd3>
								<canvasjs class="datachart" ng-if="chart.library==='canvasjs'" options="chart.options" data="chart.data"></canvasjs>
								<highchart class="datachart" ng-if="chart.library==='highcharts'" config="chart.options"></highchart>
							</div>
						</div>
					</div>
					-->
					
					<!-- alternate concept
					<div class="panel panel-default" ng-repeat="ontology in rangeData.treedata">
						<div class="panel-heading">
							<h5 class="panel-title">
								<a ng-click="ontology.isClosed = !ontology.isClosed"><i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': !ontology.isClosed, 'glyphicon-chevron-right': ontology.isClosed}"></i><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !ontology.isClosed, 'glyphicon-chevron-left': ontology.isClosed}"></i></a>
							</h5>
						</div>
						<div collapse="ontology.isClosed">
							<div class="panel-body">
								<d3-tree data="ontology" label="name" style="display"></d3-tree>      
							</div>
						</div>
					</div>
					-->
				</div>
				
				<!-- Single tree for General -->
				<div class="row" style="clear:both;" ng-show="view.viewClass==='General' && rangeData.ui.treeDisplay!=='none'">
					<div class="col-sm-1 text-center" style="margin-top:1em;">
						<img ng-src="{{rangeData.ui.gChro.f}}" class="img-responsive img-center vertical-center" title="Chromosome {{rangeData.ui.gChro.n}}">
					</div>
					<div class="col-sm-11">
						<div ng-repeat="ontology in rangeData.treedata">
							<d3-tree data="ontology" label="name" tree-style="rangeData.ui.treeDisplay"></d3-tree>      
						</div>
					</div>
				</div>
			</div>
		</div>
	</uib-tab>
</uib-tabset>
</div>
